
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Add/Update Data</a>
    </div>
</nav>

<form [formGroup] ="userFrom" >

    <div class="form-group">
    <div class=" d-flex justify-content-evenly flex-row bd-highlight  	md-3">

        <!-- col 1 -->
        <div class="p-2 bd-highlight col-4">
            <div class="row md-3">
                <label for="inputGSTNo"  class="col-sm-2 col-form-label">GST No:</label>
                <div class="col-sm-10">
                    <input type="text" formControlName="GSTNo" placeholder="Enter GST No" class="form-control" id="inputGSTNo">
                </div>
            </div>
            <div class="row 	md-3" style="color: red;">
                <label for="inputName" class="col-sm-2 col-form-label">Name:</label>
                <div class="col-sm-10">
                    <input type="text" formControlName="Name" placeholder="Enter Name" class="form-control" id="inputName">
                </div>
            </div>
            <div class="row 	md-3">
                <label for="inputCountry" formControlName="Country" class="col-sm-2 col-form-label">Country :</label>
                <div class="col-sm-10">
                    <select name="Select Country" id="inputCountry">
                        <option selected>Select Country</option>
                        <option>India</option>
                        <option>Singapore</option>
                        <option>Srilanka</option>
                        <option>Bangladesh</option>
                        <option>Other...</option>
                    </select>
                </div>
            </div>
            <div class="row 	md-3">
                <label for="inputLatitude" class="col-sm-2 col-form-label">Latitude:</label>
                <div class="col-sm-10">
                    <input type="text" formControlName="Latitude" placeholder="Enter Latitude" class="form-control" id="inputLatitude">
                </div>
            </div>
            <div class="row 	md-3">
                <div class="col-sm-10">
                    <input type="file" id="myFile" name="filename" placeholder="Attachment">
                </div>
            </div>
        </div>
        <!-- col-2 -->
        <div class="p-2 bd-highlight col-4">
            <div class="row 	md-3">
                <label for="inputPANNo" class="col-sm-2 col-form-label">PAN No:</label>
                <div class="col-sm-10">
                    <input type="text" formControlName="PANNo" placeholder="Ex.ABCDE1234F" class="form-control" id="inputPANNo">
                </div>
            </div>
            <div class="row 	md-3">
                <label for="inputAddress" formControlName="Address" class="col-sm-2 col-form-label">Address:</label>
                <div class="col-sm-10">
                    <textarea rows="1"  placeholder="Enter Address" name="Address" id="inputAddress"></textarea>
                </div>
            </div>
            <div class="row 	md-3">
                <label for="inputState" formControlName="State" class="col-sm-2 col-form-label">State:</label>
                <div class="col-sm-10">
                    <select name="Select State" id="inputState">
                        <option selected>Select State</option>
                        <option>Gujrat</option>
                        <option>Karnataka</option>
                        <option>Maharashtra</option>
                        <option>Telangana</option>
                        <option>Outside of India</option>
                    </select>

                </div>
            </div>
            <div class="row 	md-3">
                <label for="inputMobile" class="col-sm-2 col-form-label">Mobile:</label>
                <div class="col-sm-10">
                    <input type="text" placeholder="Enter Mobile No" class="form-control" id="inputMobile">
                </div>
            </div>
            <div class="row 	md-3">
                <label for="inputLongitude" class="col-sm-2 col-form-label">Longitude:</label>
                <div class="col-sm-10">
                    <input type="text" formControlName="Longitude" placeholder="Enter Longitude" class="form-control" id="inputLongitude">
                </div>
            </div>

        </div>
        <!-- col 3 -->
        <div class="p-2 bd-highlight col-4">
            <div class="row 	md-3">
                <label for="inputCode" style="color: red;" class="col-sm-2 col-form-label">Code:</label>
                <div class="col-sm-10">
                    <input type="text" formControlName="Code" placeholder="Enter Code" class="form-control" id="inputCode">
                </div>
            </div>
            <div class="row 	md-3">
                <label for="inputPinCode" class="col-sm-2 col-form-label">Pincode:</label>
                <div class="col-sm-10">
                    <input type="text" formControlName="Pincode" placeholder="Enter Pincode" class="form-control" id="inputPinCode">
                </div>
            </div>
            <div class="row 	md-3">
                <label for="inputCity" formControlName="City" class="col-sm-2 col-form-label">City:</label>
                <div class="col-sm-10">
                    <select name="Select City" id="inputCity">
                        <option selected>Select City</option>
                        <option>Surat</option>
                        <option>Ahmedabad</option>
                        <option>Ankleshwar</option>
                        <option>Mumbai</option>
                        <option>Other...</option>
                    </select>
                </div>
            </div>
            <div class="row mb-3">
                <label for="inputEmail" class="col-sm-2 col-form-label">Email:</label>
                <div class="col-sm-10">
                    <input type="email" formControlName="Email" placeholder="Enter Email" class="form-control" id="inputEmail">
                </div>
            </div>
            <div class="row mb-3">
                <label for="inputCurrancy" formControlName="Currancy" class="col-sm-2 col-form-label">Currancy:</label>
                <div class="col-sm-10">
                    <select name="Select Currancy" id="inputCurrancy">
                        <option selected>Select Currancy:</option>
                        <option>Rupee</option>
                        <option>Dollar</option>
                        <option>Euro</option>
                        <option>Taka</option>
                        <option>Other...</option>
                    </select>
                </div>



            </div>
        </div>
    </div>
</div>    

</form>

<div class="border">
    <div class="row mb-3">
        <h4 style="text-align:center;">...Contact Person Details...</h4>
        <hr>
    </div>



    <form class="mt-4 p-3 ">

        <div class=" d-flex justify-content-evenly flex-row bd-highlight  mb-3">

            <!-- col 1 -->
            <div class="p-2 bd-highlight col-4" style="color:red ;">
                <div class="row mb-3">
                    <label for="inputName1" class="col-sm-2 col-form-label">Name:</label>
                    <div class="col-sm-10">
                        <input type="text" placeholder="Enter Person name" class="form-control" id="inputName1">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputDepartment" class="col-sm-2 col-form-label">Department:</label>
                    <div class="col-sm-10">
                        <input type="text" placeholder="Enter Department" class="form-control" id="inputDepartment">
                    </div>
                </div>
            </div>
            <!-- col-2 -->
            <div class="p-2 bd-highlight col-4" style="color: red;">
                <div class="row mb-3">
                    <label for="inputMobile1" class="col-sm-2 col-form-label">Mobile:</label>
                    <div class="col-sm-10">
                        <input type="text" placeholder="Enter Person Name" class="form-control" id="inputMobile1">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputDesignation" class="col-sm-2 col-form-label">Designation:</label>
                    <div class="col-sm-10">
                        <input type="text" placeholder="Enter Designation" class="form-control" id="inputDesignation">
                    </div>
                </div>
            </div>
            <!-- col 3 -->
            <div class="p-2 bd-highlight col-4">
                <div class="row mb-3">
                    <label for="inputEmail1" class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-10">
                        <input type="text" placeholder="Enter Email" class="form-control" id="inputEmail1">
                    </div>
                </div>
                <div class="d-flex justify-content-end">
                    <button type="button" class="btn btn-primary" (click)= "addItem()">Add </button>&nbsp;
                    <button type="button" class="btn btn-danger" (click)= "reset()">Reset</button>
                </div>
            </div>
        </div>
    </form>
    <div class="Block">
        
            <table class="table table-bordered">
                <thead>
                    <tr>
                      <th>Action</th>
                      <th>Name</th>
                      <th>Address</th>
                      <th>Pincode</th>
                      <th>Country</th>
                      <th>State</th>
                      <th>City</th>
                      <th>Mobile</th>
                      <th>Email</th>
                      <th>PAN No</th>
                      <th>Code</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor = "let item of listData">
                        <td>
                            <button type="button" class="btn btn-primary" >Edit</button>&nbsp;
                            <button type="button" class="btn btn-danger" (click)= "removeItem(item)">Remove</button>
                        </td>
                        <td><span>{{item.Name}}</span></td>
                        <td><span>{{item.Address}}</span></td>
                        <td><span>{{item.Pincode}}</span></td>
                        <td><span>{{item.Country}}</span></td>
                        <td><span>{{item.State}}</span></td>
                        <td><span>{{item.City}}</span></td>
                        <td><span>{{item.Mobile}}</span></td>
                        <td><span>{{item.PANNo}}</span></td>
                        <td><span>{{item.Code}}</span></td>
                        
                    </tr>
                  </tbody>
            </table>
        
    </div>
</div>

<div class="d-flex justify-content-center"><button type="button" value="Save" class="btn btn-success">Save
    </button>&nbsp;
    <button type="button" value="Cancel" class="btn btn-danger">Cancel</button>
</div>



